<div class="container">
<%= simple_form_for @work do |f| %>
  <%= f.input :nature_travaux%>
  <button type="submit" class="btn btn-primary">
                  <i class="far fa-edit"></i>
<% end %>
</div>

