<div class="tab">
  <div class="tab">
    <div class="panel panel-default">
      <!-- Default panel contents-->
      <div class="panel-heading"></div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Enregistrement CM</th>
            <th>Enregsitrement VDA+</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%= simple_form_for @delivery do |f| %>
          <tr>
            <td><%= f.input :enregistrement_cm, as: :boolean, label: false %>
            </td>
            <td>
              <%= f.input :enregistrement_vda, as: :boolean, label: false %>
            </td>
            <td> <button type="submit" class="btn btn-primary">
              <i class="far fa-save"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= render './shared/documents', object: @documents_livraison_effective, locals: { title: "listes des documents", model: @delivery }  %>
