<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Nature du financement</th>
          <th>Justificatif</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @bus.orders.last.lines.last.financement_type %></td>
          <td>
            <%if @delivery.documents.where(:name => "Financement").take.present?  %>
            <%= link_to document_path(@delivery.documents.where(:name => "Financement").take, :name => 'Financement'), class:"btn btn-primary" do %><i class="far fa-eye"></i><% end %>
            <%= link_to new_document_path(:name => 'Financement'), class:"btn btn-warning" do %><i class="far fa-edit"></i><% end %>
            <% else %>
            <%=link_to new_document_path(:name => 'Financement'), class:"btn btn-primary" do %><i class="fas fa-plus-circle"></i><% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
