<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents-->
    <div class="panel-heading">
    </div>
    <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Immatriculation</th>
            <th>Prix achat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @traded_bus.immatriculation if @traded_bus.present? %></td>
            <td><%= @trade.prix_achat if @trade.present? %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
