
<h5>Aucun bus en stock ne correspond à votre recherche</h5>
<%= link_to new_order_bus_path(@order), class: "btn btn-primary" do %>
                    Commander un bus à l'usine
                    <% end %>


