<h5>Aucun bus connu ne correspond à votre recherche</h5>
<%= link_to new_bus_path, class: "btn btn-primary" do %>
                    Rentrer un bus d'occasion dans la base
                    <% end %>
