<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Ajouter une commande de bus", orders_new_path, class: "btn-primary" %>

<%= link_to "Voir mes commandes", orders_path, class: "btn-primary" %>

<%= link_to "Bus en commande", buses_path, class: "btn-primary" %>
