<div class="container">
<%= simple_form_for @document do |f| %>
  <%= f.input :name, as: :hidden %>
  <%= f.input :pdf, as: :file, label: "#{@document.name}" %>

  <button type="submit" class="btn btn-primary">
                  <i class="fas fa-plus-circle"></i>
<% end %>
</div>
