<div class = "wrapper">
<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Convoyages en cours", ferries_path, class: "tab-underlined active " %>
  </li>
</ul>
</div>
  <div class="container">
      <%= render 'list_ferries'  %>
  </div>

