<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents
    <div class="panel-heading">Bus en stock</div>-->
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Status 1</th>
          <th>Status 2</th>
        </tr>
      </thead>
      <tbody>
        <%= simple_form_for @bus do |f| %>
        <tr>
          <td><%= f.input :statut1, collection: Bus.statut1s.map { |key, value| [key.humanize, key] }, label: false %></td>
          <td><%= f.input :statut2, collection: [ 'A commander',
            'Config usine à valider',
            'En commande',
            'Annulé',
            'En Stock SE35',
            'Stock VO',
            'En stock VTFL',
            'Démo SE35',
            'Démo FR05',
            'Facturé VN',
            'Facturé VTFL',
            'VO à rentrer',
            'Facturé VO',
          'Facturé VO (ex Demo)'], label: false%></td>
          <button type="submit" class="btn btn-primary" id="autosubmit" hidden>
            <i class="far fa-save"></i>
            </button><% end %>
        </tr>
      </tbody>
    </table>


  </div>
</div>

<script>
  const info = document.querySelector("#bus_statut2");
  console.log(info);
  const autosubmit = document.querySelector('#autosubmit');
  const submitOnClick = () => {

    autosubmit.click();
  }
  info.addEventListener("change", submitOnClick);
</script>
