<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents
    <div class="panel-heading">Bus en stock</div>-->
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Status 2</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= simple_form_for @bus do |f| %>
        <tr>
          <td><%= f.input :statut2, collection: [ 'A commander',
            'Config usine à valider',
            'En commande',
            'Annulé',
            'En Stock SE35',
            'Stock VO',
            'En stock VTFL',
            'Démo SE35',
            'Démo FR05',
            'Facturé VN',
            'Facturé VTFL',
            'VO à rentrer',
            'Facturé VO',
          'Facturé VO (ex Demo)'], label: false  %></td>
          <td><button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button></td><% end %>
        </tr>
      </tbody>
    </table>


  </div>
</div>
