<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>lieu</th>
          <th>Date du relevé</th>
        </tr>
      </thead>

      <tbody>
        <% @bus.ferries.each  do | ferry| %>
        <tr>
          <td><%= ferry.arrivee %></td>
          <td><%= ferry.date_convoyage %></td>
          <% end %>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<%= link_to "Convoyer ce bus", new_bus_ferry_path(@bus.id), class: "btn btn-primary" %>
