      <div class="tab">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"></div>
          <!-- Table -->
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Sites prevenus</th>
                <th>N°bdc pour le convoyage crée</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr id="ferries">
                <% @bus.ferries.each  do | ferry| %>
                <%= render 'ferries/show', ferry: ferry %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= render 'ferries/new_ferry', bus: @bus, ferry: @ferry %>
