<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents
    <div class="panel-heading">Bus en stock</div>-->
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Date de début de garantie</th>
          <th>Garantie enregistrée dans PEP Tool</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @bus.date_debut_garantie %></td>
          <td><%= @mention_garantie %></td>
    </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
