
<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents
    <div class="panel-heading">Bus en stock</div>-->
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Documents Livraison Usine</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%@documents_factory_delivery.each do |document|  %>
        <tr>
          <td><%= document %></td>
          <td>
            <%if @bus.factory_orders.last.documents.where(name: "#{document}").take.present?  %>
            <%= link_to document_path(@bus.factory_orders.last.documents.where(name: "#{document}").take, :name => "#{document}"), class:"btn btn-primary" do %><i class="far fa-eye"></i><% end %>
            <%= link_to new_document_path(:name => "#{document}"), class:"btn btn-warning" do %><i class="far fa-edit"></i><% end %>
            <% else %>
            <%=link_to new_document_path(:name => "#{document}"), class:"btn btn-primary" do %><i class="fas fa-plus-circle"></i><% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
