<%= simple_form_for @bus do |f| %>
<%= f.simple_fields_for :factory_orders do |factory_orders_form| %>
      <%= factory_orders_form.hidden_field :statut, { value: 'pending' }  %>
    <button type="submit" class="btn btn-primary">Commander ce véhicule à l'usine</i></button><% end %>
    <% end %>
