<div class = "wrapper">
<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "véhicule en stock", buses_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Ajouter un véhicule en stock", new_bus_path(), class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "véhicule chez le client", archive_buses_path, class: "tab-underlined active" %>
  </li>
</ul>
</div>
<div class="container">
  <%= render 'list_buses'  %>
</div>
