<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Bus liés à la commande</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>CB / CH</th>
          <th>7 / 9 </th>
          <th>N° de Chassis</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><%= @traded_bus.type.name %></td>
            <td><%= @traded_bus.ch_cb %></td>
            <td> <%= @traded_bus.sept_neuf %></td>
            <td> <%= @traded_bus.numero_chassis %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
