<h5>Aucun bus connu ne correspond à votre recherche</h5>
<%= link_to new_order_bus_line_bus_path(@order,@ordered_bus,@line), class: "btn btn-primary" do %>
                    Rentrer un bus d'occasion dans la base
                    <% end %>
